body {
    background-color: lavender;
    color: brown;
    font-family: Arial;
    margin: 0;
}
main {
    background-color: honeydew;
    color: brown;
    font-family: Arial;
    margin: 10px 10px 56px;
}
footer{
    background-color: greenyellow;
    color: black;
    font-family: Arial;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: left;
}
header{
    background-color: greenyellow;
    color: black;
    font-family: Arial;
    margin: 0;
    font-size: 16px;
}
a {
   color: rgb(0, 81, 255);
   text-decoration: none;
   transition: 0.5s 0.8s;
}
a:hover {
    color: rgb(105, 0, 0);
    text-decoration: underline;
    background: rgb(250, 221, 221);
    text-shadow: 5px 5px 10px;
    transition: 0.3s;
}
a:active {
    color: #1a7000b4;
    opacity: 0.3;
}
a:link {
    color: rgb(31, 0, 204);
    opacity: 0,3;
}
a:visited {
    color: rgb(0, 119, 26);
    opacity: 0.5;

}
div.menu{
    border: 6px solid rgb(250, 128, 114);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
}
div.menu:hover{
    background-color: rgba(243, 242, 183, 0.322);
    box-shadow: 0 0 15px black;
}